.sidebarOption {
    display: flex;
    color: gray;
    height: 40px;
    cursor: pointer;
    align-items: center;

}

.sidebarOption:hover {
    color: #fff;
}

.sidebarOption__icon {
    padding-right: 10px;
    padding-left: 10px;
}

.sidebarOption>p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}